* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

header {
    position: relative;
    overflow: hidden;
}

header nav {
    position: fixed;
    width: 100vw;
    background-color: #32CD32;
    border-bottom: black 3px solid;
    z-index: 1;
}

header nav ul li {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    padding: 1vh;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    width: 24vw;
}

header nav ul li:hover {
    color: whitesmoke;
    font-size: 22px;
}

header nav ul li.nav {
    border-right: 3px solid black;
}

header div.title {
    position: relative;
    top: 5vh;
    background-image: url(img/bgi.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 40vh;
}

header div h1 {
    font-size: 3rem;
    color: whitesmoke;
    line-height: 20vh;
    text-transform: uppercase;
    margin-left: 10px;
}

header div p {
    font-size: 2rem;
    color: whitesmoke;
    text-transform: uppercase;
    margin-left: 10px;
}

section {
    position: relative;
    top: 40px;
    left: 10px;
    width: 100vw;
}

h2 {
    padding: 10px;
    text-transform: uppercase;
}

section.work div p {
    margin: 10px;
    text-transform: uppercase;
}

form {
    display: inline-block;
    background-color: #32CD32;
    width: 100vw;
    margin: 5px;
    padding: 10px;
    text-transform: uppercase;
}

form input {
    margin-bottom: 10px;
}

button {
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: 5px;
}

section.gallery img {
    width: 49vw;
    height: 60vh;
    padding: 10px;
    padding-bottom: 30px;

}

section.article a img {
    width: 24vw;
    height: 50vh;
    padding: 10px;
}

footer {
    position: relative;
    bottom: 0;
    background-color:  #32CD32;
    width: 100vw;
    padding-top: 10px;
    padding-bottom: 10px;
}


footer span {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-left: 12vw;
    padding-top: 10px;
    padding-bottom: 10px;
}

span.b  {
    border-right: black solid 2px;
    padding-left: 12vw;
    padding-right: 12vw;
}

